.side-bar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px; 
}

.sidebar-link{
  
  height: 76px;
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  z-index: 200;
  cursor: pointer;
}

.sidebar-link:hover{
  background-color: rgb(235, 233, 233);
}
.sidebar-link img{
  height: 24px;
  margin-bottom: 4px;

}
.sidebar-link div{
  font-family: Roboto, Arial;
  font-size: 10px;
}